<div class="row">
  <div class="col s10 offset-s1 m6 offset-m3">
    <form #formData="ngForm" (ngSubmit)="onSubmit(formData)">
      <div class="row">
        <md-input-container>
          <input mdInput id="email" name="email" placeholder="E-mail" ngModel required>
        </md-input-container>
      </div>
      <div class="row">
        <md-input-container>
          <input mdInput type="password" id="password" name="password" ngModel placeholder="Senha" required>
        </md-input-container>
      </div>
      <div class="row">
        <button md-button type="submit" [disabled]="!formData.valid" >Sign In</button>
      </div>
    </form>
  </div>
</div>

<div class="row">
  <div class="col s12 m6 offset-m3 center">
    <a [routerLink]="['/signup']">Doesn't have an account? Sign up now!</a>
  </div>
</div>
