<!--The content below is only a placeholder and can be replaced.-->
<md-toolbar class="toolbar">
  <span class="toolbar__logo">Ufsfood</span>

  <div class="toolbar_buttons">
    <a md-button
      class="toolbar__button"
      *ngIf="!auth.isAuthenticated()"
      (click)="auth.login()">
      Entrar
    </a>
    <a md-button
      class="toolbar__button"
      *ngIf="auth.isAuthenticated()"
      (click)="auth.logout()">
      Sair
    </a>
  </div>
</md-toolbar>

<div style="text-align:center">
  <router-outlet></router-outlet>
</div>
